---
layout: default
title: "Avisos 5S2M-B"
---

Últimos avisos

<ul>
{% assign now = 'now' | date: "%s" %}
{% for post in site.posts %}
  {% assign post_expires = post.expires | date: "%s" %}
  {% if post_expires == nil or post_expires > now %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
      ({{ post.date | date: "%d %B %Y" }}
      {% if post.expires %}
        - Vigente hasta: {{ post.expires | date: "%d %B %Y" }}
      {% endif %}
      )
    </li>
  {% endif %}
{% endfor %}
</ul>

<p>Recuerda que esta web se actualiza regularmente. Puedes suscribirte al <a href="{{ site.baseurl }}/feed.xml">feed RSS</a> para recibir las últimas noticias directamente en tu lector de RSS.</p>
