<!-- BLOQUE WIDGETS -->
<div class="widgets-container">
  <div class="widgets-grid">
    <!-- AEMET -->
    <div class="widget">
      {% include widget_aemet.html %}
    </div>

    <!-- CRTM -->
    <div class="widget">
      <div class="widget-contenido widget-crtm">
        <div id="estado-crtm" style="text-align:center;">
          Cargando estado del servicio…
        </div>
      </div>

      <div class="widget-contenido widget-buses" id="buses-simplificado">
        Cargando próximos transportes…
      </div>
      <div class="widget-buses-label">
        <a href="/avisos5S2M-B/comoLlegar.html">
          ¿Y para ir?
        </a>
      </div>
    </div>
  </div>
</div>
<!-- FIN BLOQUE WIDGETS -->
{% include logica_crtm.html %}
{% include logica_bus_simplificado.html %}