---
layout: default
---
{% if page.expires %}
  {% assign expires_utc = page.expires | date: "%Y-%m-%d %H:%M:%S %z" | date: "%s" | date: "%d/%m/%Y a las %H:%M (UTC)" %}
  <p class="post-expires">
    Este aviso dejará de ser válido el {{ expires_utc }}
  </p>

<hr>

{% endif %}
{{ content }}
<hr>

<div class="edit-notice" style="display: flex; justify-content: space-between; align-items: center;">
  <p style="margin: 0;">
    <a
      href="https://github.com/ggelado/avisos5S2M-B/edit/main/{{ page.path }}"
      target="_blank"
      rel="noopener"
      style="text-decoration: none; background-color: #f0f0f0; padding: 5px 10px; border-radius: 5px; color: #333;"
    >
      ✏️ Editar aviso
    </a>
  </p>

  <p style="margin: 0;">
    <a
      href="https://notifierpushrss.onrender.com/generarPDF/{{ page.path }}"
      target="_blank"
      rel="noopener"
      style="text-decoration: none; background-color: #f0f0f0; padding: 5px 10px; border-radius: 5px; color: #333;"
    >
      📄 Descargar aviso en PDF
    </a>
  </p>
</div>

<!-- Marco post como visto para el resaltado en página principal -->
<script>
(() => {
  const url = location.pathname; // SIN query params
  markPostAsSeen(url);
})();
</script>
